body{
    background: url(about.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur;
    
}
.container{
    max-width: 800px;
    margin: 0px;
    padding: 0px;
}
.a{
    text-align: left;
    
    margin-bottom: 20px;
}
.b{
    text-align: left;
    
}